@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
.p__opensans {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
    text-decoration: none;
  }
.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #020312;

    padding: 1rem 2rem;
}

.app__navbar_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar_logo img {
    width: 150px;
}

.app__navbar_links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar_links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar_links li:hover {
    color: #545454;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
  }
  
  .item:nth-child(2) {
    flex: 3;
  }
  
  .item:last-child {
    justify-content: flex-end;
  }
  .cart{
    position: relative;
    cursor: pointer;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-golden);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.app__navbar_login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar_login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: .5s ease;
}

.app__navbar_login a:hover {
    border-bottom: 1px solid #DCCA87;
    color: #DCCA87;
}

.app__navbar_login .divied {
    width: 3px;
    height: 30px;
    background: #545454;
    margin-right: 10px;
}

.app__navbar_smallscreen {
    display: none;
}

.dropdown_btn {
    position: relative;
    background-color: black;
    border: 2px solid #DCCA87;
    color: white;
    margin-left: 15px;
    border-radius: 20px;
    padding: 5px 10px;
}

.dropdown_content {
    position: absolute;
    background-color: black;
    min-width: 200px;
    overflow: auto;
    margin-top: 188px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
}
.dropdown_item {
    margin-top: 10px !important;
    color: white;
}

.app__navbar_smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transition: .5s ease;

    flex-direction: column;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: app__navbar_smallscreen_overlay 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: app__navbar_smallscreen_overlay 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.app__navbar_smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: #DCCA87;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar_smallscreen_links {
    list-style: none;
}

.app__navbar_smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: #DCCA87;
    font-size: 2rem;
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    text-decoration: none;
}
.app__navbar_smallscreen_links a{
    margin: 2rem;
    cursor: pointer;
    color: #DCCA87;
    font-size: 2rem;
    text-align: center;
    font-family: 'Cormorant Upright', serif;
    text-decoration: none;
}

.app__navbar_smallscreen_links a:hover {
    color: white;
}

.slide_bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@media screen and (min-width: 2000px) {
    .app__navbar_logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar_links {
        display: none;
    }

    .app__navbar_smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar_login {
        display: none;
    }

    .app__navbar_logo img {
        width: 110px;
    }
}