.sidebar {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(to left bottom, #faf9fa, #ebe9ed, #dbd9e2, #c9cad6, #b6bccb);
    display: flex;
    font-family: var(--font-alt);
}
.link_items {
    display: flex;
    flex-direction: column;
    transition: all 0.8s ease-in-out;
}

.link_item{
    text-decoration: none;
    color: #3F3939;
    margin-top: 10px;
    padding: 5px 25px;
    font-weight: 700;

}
.link_item:hover {
    border-left: 5px solid #EA4C89;
    color: #EA4C89;
}